################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/StudentWebAPIWithMCPServer/bin
/StudentWebAPIWithMCPServer/obj
/StudentWebAPIWithMCPServer/Properties/PublishProfiles
